@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main_color: #e3e8e4;
    --primary_color: #363636;
    --main_font: 'Playfair Display', serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding:10px;
}
nav ul li{
    display:inline;
    margin:10px;
}
nav a{
    text-decoration: none;
    color:black ;
    margin-left: 4rem;
    font-size: 1.011rem;
}
nav a:hover{
    border-bottom: 2px solid var(--primary_color);
    padding-bottom:5px;
}
.filled{
    height:40px;
    width: 120px;
    font-weight: bold;
    background: var(--primary_color);
    border:none;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    margin-right: 27px;
}
.filled:hover{
    background-color: white;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    transition: ease-in;
    transition-duration: .5s;
}
header{
    margin-top:9rem;
    display: flex;
    justify-content: space-around;
    height: 90vh;
}
header img{
    height: 490px;
    width: 490px;
    border-radius: 100%;
    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.189);
}
header h1{
    font-size: 4rem;
    font-family: var(--main_font);
    color: #0000004f;
    margin-bottom: 1.3rem;
}
.parth{
    margin-bottom:2rem;
}
h1 span{
    color: black;
}
header p{
    max-width: 550px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 1.3rem;
}
.unfill{
    height:40px;
    width: 120px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    border-radius: 100px;
    cursor: pointer;
}
.unfill:hover{
    background: var(--primary_color);
    border:none;
    border-radius: 100px;
    color: white;
    transition: ease-in;
    transition-duration: .5s;
}
section.info{
    margin-top:2.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #363663;
    
}
.info h1{
    font-family: var(--main_font);
    font-size: 2rem;
}
.info p{
    text-align: center;
    margin: 0 40px;
    font-family: sans-serif;
}
section .products{
    margin-top:8rem;
    height: 45vh;
}
.products h1{
    text-align: center;
    font-family: var(--main_font);
    color: var(--primary_color);
    font-size: 4rem;
}
.selections{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.selections .img{
    height:200px;
    width: 200px;
    margin-bottom: 6.3rem;
    background-color: var(--main_color);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.selections .img .img1{
    height: 300px;
    width: 300px;
    background-color: var(--main_color);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background-image: url(https://images.unsplash.com/photo-1567538096630-e0c55bd6374c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
.selections .img .img2{
    height: 300px;
    width: 300px;
    background-color: var(--main_color);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background-image: url(https://images.unsplash.com/photo-1581539250439-c96689b516dd?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
.selections .img .img3{
    height: 300px;
    width: 300px;
    background-color: var(--main_color);
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    background-image: url(https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: top;
    background-size: cover;
}
.details{
    font-family: sans-serif;
    padding-top:2rem;
    height: 150px;
    width: 300px;
    background-color: var(--primary_color);
    color: white;
    text-align: center;
}
.btnar {
    margin-top: 40px;
    position: relative;
    margin-left: 43.7rem;
}
.btnar button{
    padding: 0 20px;
    border: none;
    font-size: 2rem;

    
}
section.why{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.why .imagecat{
    background-color: var(--main_color);
    height: 400px;
    width: 400px;
    border-radius: 100%;
}
.why .imagecat{
    height: 400px;
    width: 400px;
    background-image:url(sectiii1.png);
    background-position: center;
    background-size: contain;
}
.cards{
    height: 380px;
    width: 550px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 40px;
    
    
}
.cards .cfill{
    background: #8e8e8e90;
    position: relative;
}
    

